<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @patient.patient_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
